<!--@subject Contactformulier ingevuld @-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
{{template config_path="design/email/header"}}
<p>Een bezoeker heeft het contactformulier van de webshop ingevuld:</p>
<p>
Naam: {{var data.name}} <br />
E-mail: {{var data.email}} <br />
Telefoon: {{var data.telephone}} <br /><br />
Bericht: {{var data.comment}}
</p>
{{template config_path="design/email/footer"}}
